body {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    /* background-image: url("images/colorful-board.png"); */
    background-image: url("images/nodes-opac.png");
    /* background-size: 100%; */
    background-repeat: no-repeat;
    /* height: 1000px; */
    background-attachment: fixed;


}
/* .cd-fixed-bg {
  min-height: 50%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.cd-bg-1 {
  
} */



/* Background Video */
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    /* opacity: .5; */
}
.no-video .video-container video,
.touch .video-container video {
    display: none;

}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
#nav {
    background-color: rgba(240, 240, 240, .9);
}
.intro-container {

    z-index: 100;
    width: 100%;
    top: 45%;
    position: relative;
    text-align: center;
    
}
#name {
    font-size: 10vh;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
    
}
.video-container video.fillWidth {
    width: 100%;
}
.video-background{
  position: relative;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}
/* ------ */

li:hover {
    color: white;
    
}
li:active {
    color: white;
    text-decoration: underline;
}
.quote {
    margin: 0;
    padding: 60px;
    color: lightgrey;
    height: 30%;
    /* border: 10px solid black; */
    /* border-bottom: 1px solid black; */
    /* border-top: 10px solid black; */
    font-size: 5vh;
    font-family: 'Yatra One', "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
}
.about {
    background-color: rgba(240, 240, 240, .9);
    height: 75vh;
    padding: 5%;
    font-size: 25px;
}
.about img {
    height: 25%;
    /* transform: rotate(-7deg); */
}
.skills {
    padding-top: 10%;
}
.skills-image {
    /* background-color: rgba(240, 240, 240, .9); */
    background-color: white;
    text-align: center;

}
/* #whiteBoard {
    border: 10px solid gray;
    overflow: hidden;
    padding: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
    height: 800px;
    font-family: 'Yatra One', cursive;
    font-size: 20px;
    overflow: hidden;
 
}
.outer-whiteBoard {
    border: 14px solid black;
    padding: 0;
} */
#markers img{
  max-height: 20%;
  position: absolute;
  bottom: 200px;
  left: 10px;

}
.bio-wrapper {
    text-align:  center;
    margin:  auto;
    padding-top: 30px;
}
.bio {
    display: inline-block;
    float: left;
    /* border: 1px solid black; */
    box-shadow: 5px;
}
.bio-pic {
text-align: center;
height: 75%;
    
}
.bio-pic img {
    border-radius: 100px;
    /* border: 2px solid black; */
    width: 75%;
    /* box-shadow: 2px 5px 5px black; */
    
}
.skills {
   font-size: 40px;
   text-align: center;
   vertical-align: text-top;
   color: lightgrey;
   padding: 5%;
}
.skills img {


}
#contact {
    padding-left: 25px;
}