body {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("images/nodescompact.png");
    background-size: 100%;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    position: relative;
    font-size: 18px;
    /* height: 100vh; */
     
}
.navbar-nav li {
	color: darkgreen;
}
.container-fluid {
	width: 100%;
	margin: 0px;
}
#main {
	text-align: center;
	height: 100vh;

}
#main-title {
	position: absolute;
	top: 50%;
	left: 34%;
	text-align: center;
	color: black;
	/* height: 100vh; */
}
#quote {
	background-color: rgba(100, 150, 100, .9);
	font-family: 'Yatra One', "Lucida Grande", Helvetica, Arial, sans-serif;
	text-align: center;
	padding: 5% 10%;

}
#video-background{
	  position: fixed;
	  right: 0; 
	  bottom: 0;
	  min-width: 100%; 
	  min-height: 100%;
	  width: auto; 
	  height: auto;
	  z-index: -100;
	}
a.arrow-down {
	background-image: url("images/down-arrow.png");
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;

}
.bold {
	font-weight: 900;
}
.center {
	text-align: center;
}
.space {
	margin-top: 20px;
}
.fillWidth {
	width: 100%;
}
.noPadding {
	padding: 0px;
}

/* ----------------------Pre-load screen modified--------------------- */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: black;
}
#loader-wrapper h3 {
	position: relative;
	text-align: center;
  	top: 40%;
  	color: #5c7722;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #5c7722;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #85c203;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #85a839;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
/* Pre-load Screen Disappears Once Page is Loaded */
 /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    /* ----------------------Pre-load screen modified END--------------------- */
 /* ------------NAV BAR------------ */
 #nav {
    background-color: rgba(240, 240, 240, .7);
    color: #84c341;
}
#nav li a{
  /* color: rgb(20, 17, 114); */
  color: #84c345;
}

.navbar-brand img {
  height: 30px;
}

/* -------------------------Background Video------------------------------ */
/* -------------------------Background Video END------------------------------ */
@media screen and (min-width: 769px) {

	#video-container {
		height: 100vh;
		position: relative;
		bottom: 0%;
		left: 0%;
		overflow: hidden;
	}
	#video-container video {
		bottom: 0;
	}
	#video-background {
		position: relative;
  		right: 0; 
  		bottom: 0;
  		min-width: 100%; 
  		min-height: 100%;
  		width: auto; 
  		height: auto;
  		z-index: -100;
	}

	#main {
		z-index: 100;
    	width: 100%;
    	top: 35%;
    	position: absolute;
    	text-align: center;

	}
	#main > img {
		position: static;
	}
	#main-title {
		top: 0px;
		position: static;
		color: black;
	}
	/* MYNAME */
}
@media (max-device-width: 768px) and (min-device-width:500px) {
	#video-container {
		height: 100vh;
		position: relative;
		bottom: 0%;
		left: 0%;
		overflow: hidden;
	}
	#video-container video {
		bottom: 0;
	}
	#video-background {
		position: relative;
  		right: 0; 
  		bottom: 0;
  		min-width: 100%; 
  		min-height: 100%;
  		width: auto; 
  		height: auto;
  		z-index: -100;
	}

	#main {
		z-index: 100;
    	width: 100%;
    	top: 35%;
    	position: absolute;
    	text-align: center;

	}
	#main > img {
		position: static;
	}
	#main-title {
		top: 0px;
		position: static;
		color: black;
	}
	h1 {
		
	}
	h2 {
		font-size: 45px;
	}

	h3 {
		font-size: 30px;
	}
	#quote {
		height: 100vh;
		vertical-align: center;
	}
	#quote h2 {
		margin-top: 20%;

	}
	.arrow {
		visibility: hidden;
	}
	#about {
		background-color: rgba(240, 240, 240,.8);
	}
	.bio-border {
		height: 100vh;
		border: 3px solid black;
  		border-radius: 8px;
  		margin-top: 5%;
  		background-image: url("images/green-circuit-board-vector-background.jpg");
	}
	.bio-inner {
  		background-color: rgba(240, 240, 240,.9);
  		border: 2px solid black;
  		border-radius: 10px;
  		margin: 1%;
  		
	}
	.bio-inner1 {
		height: 96%;
	}
	.bio-inner2 {
		padding-top: 1%;
	}
	.f1 {
		font-size: 40px;
		margin-top: 20px;
	}
	.f2 {
		font-size: 30px;
	}
	.f3 {
		font-size: 29px;
	}
	.f4 {
		font-size: 27px;
	}
	.stats {
		padding-bottom: 2%;
	}
	.stats p {
		padding-left: 2%;

	}
	.statsLine2 {
		margin-top: 60px;
	}
	.statsLine2 img {
		height: 200px;
		margin-top: 3%;
		margin-bottom: 1%;
	}
	.statsLine3 {
		margin-top: 10px;
		margin-left: 0px;
		padding-left: 0px;
		/* padding-bottom: 15px; */
	}
	.powerUp img {
		height: 80px;
	}
	.stars img {
		height: 30px;
	}
	#projects {
		font-size: 50px;
		height: 100vh;
		width: 100%;
		padding-top: 100px;
		/* background-color: rgba(150, 150, 150, .9); */
		background-color: rgba(240, 240, 240,.9);
		text-align: center;
	}
	#projects hr, #contact hr {
		border: 1px solid green;
	}
	.outerWhiteBoard {
	 padding-top: 50px;
	}
	.innerWhiteBoard {
	
	}

	.connect {
		background-color: rgba(240, 240, 240,.9);
		height: 100vh;
		font-size: 25px;

	}
	#contact .header {
		font-size: 50px;
	}
	#contact input, textarea {
		font-size: 20px;
	}

} 

/* Mobile Friendly Design */
@media screen and (max-device-width: 500px) {
	#video-background {
		visibility: hidden;
	}
	#main {
		background-color: #C0C0C0;
		color: black;
	}
	#main > img {
		/* margin-top: 100px;
		position: static; */
	}
	#main-title {
		margin-top: 50%;
		position: static;
		color: black;
	}
	h1 {
		font-size: 55px;
	}


	h3 {
		font-size: 30px;
	}

	.arrow-down {
		background-image: url("images/down-arrow.png");
		width: 30px;
		height: 30px;
		display: block;
		position: absolute;
	}
	
	#quote {
		position: relative;
		background-color: rgba(100, 150, 100, .9);
		font-family: 'Yatra One', "Lucida Grande", Helvetica, Arial, sans-serif;
		text-align: center;
		height: 100vh;
		width: 100%;
		font-size: 60px ;
		margin: 0px;
		padding-top: 80px;
	}
	#quote h2{
		font-size: 60px;
		padding-top: 25%;
	}
	#about {
		margin: 0px;
		height: 100vh;
		width: 100%;
		/* background-color: rgba(150, 150, 150, .9); */
		background-color: rgba(240, 240, 240,.9);
	}

	.bio-border {
  		border: 3px solid black;
  		border-radius: 8px;
  		margin-top: 5%;
  		background-image: url("images/green-circuit-board-vector-background.jpg");
	}
	.bio-border2 {
		margin-top: 0px;
	}

	.bio-inner {
  		background-color: rgba(240, 240, 240,.9);
  		border: 2px solid black;
  		border-radius: 10px;
  		margin: 1%;
  		/* height: 80%; */
	}
	.bio-inner p {
		padding-left: 20px;
	}
	.profilePic img {
		height: 300px;
		border: 5px solid black;
		border-radius: 5px;
	}
	.statsLine2 {
		margin-top: 80px;
	}
	.statsLine3 {
		margin-top: 20px;
		margin-left: 20px;
		padding-bottom: 15px;
	}
	.f1 {
		font-size: 40px;
		text-align: center;
	}
	.f2 {
		font-size: 35px;
	}
	.f3 {
		font-size: 30px;
	}
	.f4 {
		font-size: 25px;
	}
	.powerUp img {
		height: 80px;
	}
	.stars img {
		height: 30px;
	}
	.stats {
		padding: 15px;
	}
	#projects {
		font-size: 50px;
		height: 100vh;
		width: 100%;
		padding-top: 100px;
		/* background-color: rgba(150, 150, 150, .9); */
		background-color: rgba(240, 240, 240,.9);
		text-align: center;
	}
	#projects hr, #contact hr {
		border: 2px solid green;
	}
	.outerWhiteBoard {
	 padding-top: 50px;
	}
	.innerWhiteBoard {
	
	}

	.connect {
		background-color: rgba(240, 240, 240,.9);
		height: 100vh;
		font-size: 40px;

	}
	#contact .header {
		font-size: 50px;
	}
	#contact input, textarea {
		font-size: 30px;
	}

}


